# job 必须与 project 一致；面板禁止使用 job，只用 project
- targets:
    - "192.168.15.16:80"
  labels:
    project: "ai-router"
    service: "ai-router-ingress-service"
    job: "ai-router"

- targets:
    - "192.168.15.16:8000"
  labels:
    project: "ai-router"
    service: "ai-router-api-gateway-001"
    job: "ai-router"

- targets:
    - "192.168.15.16:8001"
  labels:
    project: "ai-router"
    service: "ai-router-model-forwarder-001"
    job: "ai-router"